<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springbootvinylecommercebackend.mapper.DiscMapper">


	<resultMap type="springbootvinylecommercebackend.model.Product"
		id="discResultMap">
		<result column="ID" property="id" />
		<result column="ALBUMNAME" property="albumName" />
		<result column="PRICE" property="price" />
		<result column="IMAGE" property="image" />
		<result column="COUNTRY" property="country" />
		<result column="ARTIST" property="artist" />
		<result column="RELEASEYEAR" property="releaseYear" />
		<result column="STATUS" property="status" />
		<result column="PLATFORM" property="platform" />
		<result column="CATEGORY" property="category" />
		<result column="DEMOAUDIO" property="demoAudio" />
		<result column="STUDIO" property="studio" />
		<result column="MANUFACTUREYEAR" property="manufactureYear" />
		<result column="STOCKSTATUS" property="stockStatus" />
		<result column="DESCRIPTION" property="description" />
		<result column="MOOD" property="mood" />
		<result column="QUANTITY" property="quantity" />
		<result column="STOCKQUANTITY" property="stockQuantity"/>
	</resultMap>

	<select id="getAllDisc" resultMap="discResultMap">
		select dsc.ID
		, dsc.ALBUMNAME
		,
		dsc.PRICE
		, dsc.IMAGE
		, dsc.COUNTRY
		, dsc.ARTIST
		, dsc.RELEASEYEAR
		,
		dsc.STATUS
		, dsc.PLATFORM
		, dsc.CATEGORY
		, dsc.DEMOAUDIO
		, dsc.STUDIO
		,
		dsc.MANUFACTUREYEAR
		, dsc.STOCKSTATUS
		, dsc.DESCRIPTION
		, dsc.MOOD
		,
		dsc.QUANTITY
		, dsc.STOCKQUANTITY
		FROM
		DISC dsc
		WHERE 1 = 1

	</select>

	<select id="getLessDiscByName" resultMap="discResultMap">
		SELECT dsc.ID
		,
		dsc.ALBUMNAME
		, dsc.PRICE
		, dsc.IMAGE
		, dsc.COUNTRY
		, dsc.ARTIST
		,
		dsc.RELEASEYEAR
		, dsc.STATUS
		, dsc.PLATFORM
		, dsc.CATEGORY
		,
		dsc.DEMOAUDIO
		, dsc.STUDIO
		, dsc.MANUFACTUREYEAR
		, dsc.STOCKSTATUS
		,
		dsc.DESCRIPTION
		,
		dsc.MOOD
		, dsc.QUANTITY
		, dsc.STOCKQUANTITY
		FROM DISC dsc
		WHERE
		UPPER(dsc.ALBUMNAME) LIKE
		UPPER(CONCAT('%', #{searchParam}, '%'))
		OR
		UPPER(dsc.ARTIST) LIKE
		UPPER(CONCAT('%', #{searchParam}, '%'))
		LIMIT 5

	</select>

	<select id="getBestDiscs" resultMap="discResultMap">
		select dsc.ID
		, dsc.ALBUMNAME
		, dsc.PRICE
		, dsc.IMAGE
		, dsc.COUNTRY
		, dsc.ARTIST
		, dsc.RELEASEYEAR
		,
		dsc.STATUS
		, dsc.PLATFORM
		, dsc.CATEGORY
		, dsc.DEMOAUDIO
		, dsc.STUDIO
		,
		dsc.MANUFACTUREYEAR
		, dsc.STOCKSTATUS
		, dsc.DESCRIPTION
		, dsc.MOOD
		,
		dsc.QUANTITY
		FROM
		DISC dsc
		WHERE 1 = 1
		LIMIT 8

	</select>

	<select id="getMoreDiscByName" resultMap="discResultMap">
		SELECT dsc.ID
		,
		dsc.ALBUMNAME
		, dsc.PRICE
		, dsc.IMAGE
		, dsc.COUNTRY
		, dsc.ARTIST
		,
		dsc.RELEASEYEAR
		, dsc.STATUS
		, dsc.PLATFORM
		, dsc.CATEGORY
		, dsc.DEMOAUDIO
		, dsc.STUDIO
		, dsc.MANUFACTUREYEAR
		, dsc.STOCKSTATUS
		, dsc.DESCRIPTION
		,
		dsc.MOOD
		, dsc.QUANTITY
		, dsc.STOCKQUANTITY
		FROM DISC dsc
		WHERE UPPER(dsc.ALBUMNAME) LIKE
		UPPER(CONCAT('%', #{searchParam}, '%'))
		OR UPPER(dsc.ARTIST) LIKE
		UPPER(CONCAT('%', #{searchParam}, '%'))


	</select>

	<select id="getDiscByNameASC" resultMap="discResultMap">
		SELECT dsc.ID
		,
		dsc.ALBUMNAME
		, dsc.PRICE
		, dsc.IMAGE
		, dsc.COUNTRY
		, dsc.ARTIST
		,
		dsc.RELEASEYEAR
		, dsc.STATUS
		, dsc.PLATFORM
		, dsc.CATEGORY
		, dsc.DEMOAUDIO
		, dsc.STUDIO
		, dsc.MANUFACTUREYEAR
		, dsc.STOCKSTATUS
		, dsc.DESCRIPTION
		,
		dsc.MOOD
		, dsc.QUANTITY
		, dsc.STOCKQUANTITY
		FROM DISC dsc
		WHERE UPPER(dsc.ALBUMNAME) LIKE
		UPPER(CONCAT('%', #{searchParam}, '%'))
		ORDER BY dsc.PRICE ASC

	</select>

	<select id="getDiscByNameDESC" resultMap="discResultMap">
		SELECT dsc.ID
		,
		dsc.ALBUMNAME
		, dsc.PRICE
		, dsc.IMAGE
		, dsc.COUNTRY
		, dsc.ARTIST
		,
		dsc.RELEASEYEAR
		, dsc.STATUS
		, dsc.PLATFORM
		, dsc.CATEGORY
		, dsc.DEMOAUDIO
		, dsc.STUDIO
		, dsc.MANUFACTUREYEAR
		, dsc.STOCKSTATUS
		, dsc.DESCRIPTION
		,
		dsc.MOOD
		, dsc.QUANTITY
		, dsc.STOCKQUANTITY
		FROM DISC dsc
		WHERE UPPER(dsc.ALBUMNAME) LIKE
		UPPER(CONCAT('%', #{searchParam}, '%'))
		ORDER BY dsc.PRICE DESC

	</select>

	<select id="getDiscByNameFiltered">
		SELECT
		dsc.ID
		, dsc.ALBUMNAME
		, dsc.PRICE
		, dsc.IMAGE
		, dsc.COUNTRY
		,
		dsc.ARTIST
		, dsc.RELEASEYEAR
		, dsc.STATUS
		, dsc.PLATFORM
		, dsc.CATEGORY
		,
		dsc.DEMOAUDIO
		, dsc.STUDIO
		, dsc.MANUFACTUREYEAR
		, dsc.STOCKSTATUS
		,
		dsc.DESCRIPTION
		, dsc.MOOD
		, dsc.QUANTITY
		, dsc.STOCKQUANTITY
		FROM DISC dsc
		<where>
			<if test="!searchParam.isEmpty()">
				AND UPPER(dsc.ALBUMNAME) LIKE UPPER(CONCAT('%', #{searchParam}, '%'))
			</if>
			
			<if test="!categoryName.isEmpty()">
				AND UPPER(dsc.CATEGORY) = UPPER(#{categoryName})
			</if>
			
			<if test="!moodName.isEmpty()">
				AND UPPER(dsc.MOOD) = UPPER(#{moodName})
			
			</if>
			
			<if test="!releaseYear.isEmpty()">
				AND UPPER(dsc.RELEASEYEAR) = UPPER(#{releaseYear})
			</if>
			
			<if test="!stockStatus.isEmpty()">
				AND UPPER(dsc.STOCKSTATUS) = UPPER(#{stockStatus})
			</if>

		</where>




	</select>


</mapper>